<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable = no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="author" href="/humans.txt" />

    <title>{{ site.name }} &ndash; {{ page.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/application.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/media-queries.css" type="text/css" />

    <!-- Javascripts -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js"></script>
  </head>
  <body>